<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

1.  Find the unique values in column <code> 'a' </code>:

In [2]:
df['a'].unique() #todos los valores únicos de una columna

array([1, 2], dtype=int64)

<details><summary>Click here for the solution</summary>

```python
df['a'].unique()
    
```

</details>

2.  Return a dataframe with only the rows where column <code> a </code> is less than two:

In [4]:
df2 = df[df['a'] < 2 ] #Solamente si fuera menor o igual agregariamos el '=' después del '<'

<details><summary>Click here for the solution</summary>

```python
df[df['a']<2]
    
```

</details>

<hr>

<h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>